<a ui-sref="newCustomer" class="btn-primary btn-lg nodecoration">Agregar cliente</a>
<table class="table movietable">
    <tr>
        <td><h3>Todos los clientes</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="customer in customers">
        <td>{{customer.nombre}}</td>
        <td>{{customer.email}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewCustomer({id:customer.id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteCustomer(customer)">Delete</a>
        </td>
    </tr>
</table>